
.header {
    background-color:#0a192f;
    color: #e8f1ff;
    /* font-family: 'Fredoka One', serif; */
    font-family: 'Frank Ruhl Libre', serif;
}

.text {
    font-weight: bold;
}

.projects {
    color: white;
    font-family: 'Frank Ruhl Libre', serif;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media (max-width: 768px) {
    .card-img-top {
        height: 30vw;
    }
}
